<router-outlet></router-outlet>
<!-- <app-home></app-home> -->

<!-- <app-fresh-vegetables></app-fresh-vegetables> -->
<!-- <app-fresh-fruits></app-fresh-fruits> -->
<!-- <app-log-in></app-log-in> -->
<!-- <app-sign-up-main></app-sign-up-main> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-my-cart></app-my-cart> -->

<!-- <app-fotter></app-fotter> -->
<!-- <app-address></app-address> -->
<!-- <app-orders></app-orders> -->

<!-- <app-payment></app-payment> -->
<!-- <app-refunds></app-refunds> -->
<!-- <app-profile></app-profile> -->
<!-- <app-past-order></app-past-order> -->
<!-- <app-office-location></app-office-location> -->
<!-- <app-new-address></app-new-address> -->
<!-- <app-orderconfirm></app-orderconfirm> -->
<!-- <app-edit></app-edit> -->
<!-- <app-edit-profile></app-edit-profile> -->
<!-- <app-voice></app-voice> -->
<!-- <app-policy></app-policy> -->
<!-- <app-scearch></app-scearch> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFaXNvUSNlqQoqlNBgCgppWcSeYxb5kDM"></script>

