.container
{
    margin: 1rem;
}
.tittle-container
{
    margin-top: 2rem;
    display: flex;
    
  
}
#tittle
{
    font-family: 'Roboto';
   margin-top: 0rem;
  margin-left: 0.313rem;
   
    
}
#vegetables-logo
{
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 0.313rem;
}
#scearch{
    position: absolute;
    margin-top: 0.5rem;
}
#scearch-logo {
    padding: 0.625rem;
  
    width: 1.4rem;
    height: 1.4rem;
    text-align: center;
    position: relative;
    left: 18.75rem;
}
 
#scearch-input {
    width: 20rem;
    padding: 0.625rem;
    text-align: center;
    border-radius: 1.313rem;
    position: absolute;
}
.image-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  #main-frame
  {
    display: flex;
    
  }
 .image-container img {
   width: 4.625rem;
   height: 6.563rem;
   border: 0.063rem solid #ddd; /* Optional: Add borders or other styling for items */
    padding: 0.625rem;
    margin: 1rem;
  
  }
  .items-continer
  {
    display: grid;
    grid-template-columns:6.6rem 6.6rem; /* Two columns with equal width */
    gap: 0.625rem; 
  }
  .price-containers
  {
    display: flex;
    justify-content: space-between;
  }
  .price-tag
  {
    width: 1.438rem;
    height: 0.813rem;
  }
  .button-container
  {
    width: 3.5rem;
    height: fit-content;
    float: right;
    
    margin-left: 0.5rem;
    margin-right: 0.07rem;
    border-radius:0.20rem;
    border: 0.01rem solid  #B6B6B6;
    border-style: 0.01rem;
  }
  .button-container button
  {
    width: 1rem;
    height: 1.25rem;
    border: 0.01rem solid  #B6B6B6;
    text-align: right;
    outline-offset: -5px; 
    background-color: none;
   
  }
 
  .button-container button:nth-child(1)
  {
    border-top-left-radius: 0.20rem;
    border-bottom-left-radius: 0.20rem;
  }
  .button-container button:nth-child(2)
  {
    border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
   
  }
  .button-container span
  {
    width:auto ;
    height: 0.75;
  }
  .add-button
  {
   width: 6.25rem;
    margin-top: 0.313rem;
    margin-left: 0.1rem;
    border: none;
    border-radius: 0.3rem;
    color:  #CECCCC;
  }
  