<div class="container"> 
    <div class="tittle-container">
        <div><a (click)="goToPreviousPage()"><img src="assets\solar_arrow-up-linear.png"></a>
        </div>
        
        <div>  <h2 id="tittle">Refund Policy</h2></div>
    </div>
    <div>
               <h3> Refund Policy for Kissan Mart Door Delivery App</h3>
               <br>  Thank you for choosing <span class="Kissan-tittle">KissanMart</span> for your fresh vegetables needs. We strive to provide you with the highest quality produce and exceptional service. However, we understand that there may be situations where you may need to request a refund. Please review our refund policy below:

      <br><br>  <span class="sub-title">Order Cancellation:</span><br>

        You may cancel your order up to 10  minutes before the scheduled delivery time to receive a full refund.
        Cancellations made within 10  minutes of the delivery time may be subject to a partial refund.
       
      <br> <br><span class="sub-title"> Quality Issues:</span><br>

        We take pride in delivering fresh and high-quality vegetables. If you receive vegetables that do not meet our quality standards, please contact our customer support team within 10  minutes of receiving your order.
        Provide clear photos and a description of the quality issue to facilitate a prompt resolution.
        
       <br> <br><span class="sub-title">Missing Items:</span><br>

        In the rare event that an item is missing from your order, please contact us within 10  minutes of delivery. We will arrange for a refund or redelivery of the missing item.
     <br> <br>  <span class="sub-title">Incorrect Items:</span><br>

        If you receive items that differ from what you ordered, please contact us within 10 minutes of delivery. We will arrange for a refund or replacement of the incorrect items.
        <br> <br><span class="sub-title">Refund Process:</span><br>

        To initiate a refund, please contact our customer support team through the app or by emailing <span>email</span> with your order number, a description of the issue, and supporting photos (if applicable).
        Refunds will be processed within 1 business days after approval.
      <br><br>  <span class="sub-title"> Refund Methods:</span><br>

        Refunds will be issued to the original payment method used for the order.
       <br> <br><span class="sub-title">Refund Exceptions:</span><br>

        Refunds will not be provided for issues related to taste preferences or changes of mind.
        
        <br><br><span class="sub-title">Customer Support:</span><br>

        Our customer support team is available 24/7 to assist you with any concerns or inquiries. Reach out to us through the app or by emailing [email].
       
       <br><br> <span class="sub-title">Policy Changes:</span><br>

       <span class="Kissan-tittle">KissanMart</span> reserves the right to update or modify this refund policy at any time. Customers will be notified of any changes through the app or via email.
        By using our Kissan Mart App, you agree to adhere to the terms and conditions outlined in this refund policy. If you have any questions or concerns, please contact our customer support team.

        Thank you for choosing <span class="Kissan-tittle">KissanMart</span>!

       
            </div>
</div>
